@import "variables";

.container {
  width: $website-width;
  height: 100vh;
  padding: 1rem 1rem;
  margin: auto;
  overflow: hidden;
}

// centering

.center-x {
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;

  position: absolute;
  width: 90%;
}

.center-x-y {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}
